.skills-page-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between; /* Ensures content is spaced properly */
  align-items: center;
  color: #1a202c;
  width: 100%;
  padding: 1rem;
  position: relative; /* Allows child elements to use absolute positioning */
  padding-bottom: 3rem;
}
.skills-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}
.skills-heading {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

/* Table formatting */
.skills-table {
  margin-left: auto;
  margin-right: auto;
  width: 98%;
  border: #000 solid 1px;
  border-color: #000;
  border-collapse: collapse;
  margin-bottom: 1rem;
  font-size: 0.95rem;
  /* background-color: antiquewhite; */
}

.skills-table th {
  text-align: left;
  width: 33%;
  vertical-align: top;
  font-weight: bold;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid black;
}

.skills-table td {
  padding: 0.5rem;
  border-bottom: 1px solid black;
}

/* descripton section */

.skills-description-section {
  list-style-type: disc;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.skill-desc-item {
  font-size: 1rem;
  color: #333;
  line-height: 1.2;
  text-align: justify;
}
.skill-desc-item::marker {
  color: #374151; /* Dark gray */
  font-weight: bold;
}
