.thankyou-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between; /* Ensures content is spaced properly */
  align-items: center;
  color: #1a202c;
  width: 100%;
  padding: 1rem;
  position: relative; /* Allows child elements to use absolute positioning */
  padding-bottom: 3rem;
}
.thankyou-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}
.thankyou-title {
  text-align: center;
  font-size: 2rem; /* text-3xl */
  font-weight: 700;
  margin: 0;
  margin-bottom: 2rem;
}

.thankyou-message {
  font-size: 1rem;
  line-height: 1.7;
  margin-bottom: 1rem;
  color: #333;
  text-align: justify;
}

.contact-info {
  background-color: #fff;
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid #ddd;
  margin-top: 1.2rem;
  font-size: 0.95rem;
  line-height: 1.6;
}

.contact-info a {
  color: #1a73e8;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

.closing-line {
  margin-top: 5rem;
  font-style: italic;
  font-size: 1rem;
  text-align: center;
  color: #555;
}
