/* WelcomePage.css */
.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1a202c; /* Tailwind's gray-900 */
  height: 100vh;
  width: 100%;
}

.welcome-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.welcome-heading {
  font-size: 2.25rem; /* Tailwind's text-4xl */
  font-weight: bold;
  text-align: center;
  line-height: 1.375; /* Tailwind's leading-snug */
  margin-bottom: 1.5rem;
}

.welcome-text {
  text-align: center;
  font-size: 1rem; /* text-base */
  font-weight: 500;
  margin-bottom: 1rem;
}

.welcome-button {
  margin-top: 2.5rem;
  padding: 0.5rem 1.5rem;
  background-color: #374151;
  color: white;
  border-radius: 9999px;
  font-size: 1.125rem;
  font-weight: 500;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
  cursor: pointer;
}

.welcome-button:hover {
  background-color: #1f2937;
}
